body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px; 
  color: #fff;
}

section{
  padding: 120px 0;
}

p{
  font-size: 16px;
}

/* Navbar*/
.navbar-dark {
background-color: #000!important;
padding: 0;
}

#mainNav .navbar-toggler {
font-size: 15px;
right: 0;
padding: 10px;
color: white;
border: 0;
}

#mainNav .navbar-brand {
color: #fff;
font-size: 1.25rem!important;

}

.nav-item{
padding: 10px;
}

#mainNav .navbar-nav .nav-item .nav-link {
font-weight: 600;
font-size: 14px;
padding: 10px;
padding: 0.75em 0;
letter-spacing: 1px;
color: white;
pad
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
font-weight: 600;
}

.mobile-how {
    display: none;
  }

  .desktop-how {
    display: block;
  }


@media (max-width: 992px) {

#mainNav {
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
  background-color: transparent;
}
#mainNav .navbar-brand {
  font-size: 1.5em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#mainNav .navbar-nav .nav-item .nav-link {
  padding: 1.1em 1em !important;
}
#mainNav.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #212529;
}

.navbar-dark {
  padding: 10px!important;
}


.nav-item{
padding: 0!important;
}

}
@media(max-width: 1199px){
  .nav-item{
    padding: 10px;
  }

} 

.title{
    text-shadow: 0em 0em 0.67em #e30ef2;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .btn-demo{
    box-shadow: 0px 2px 18px 0px #0e9ff9;
    font-weight: 500;
    padding: 10px 20px;
    color: #FFFFFF!important;
    border-width: 0px!important;
    border-radius: 11px;
    font-size: 16px;
    background: linear-gradient(180deg,#ff00b6 0%,#c500f2 99%);
  }

  .game-section{
    min-height: 120vh;
    background: url(../images/sample3.jpg)no-repeat;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .features-section{
    min-height: 60vh;
    background: linear-gradient(180deg,#0a0000 2%,#001a42 100%)!important;
  }

  .divider{
    width: 108px;
    display: block;
    margin: 10px auto;
    height: 4px;
    background: linear-gradient(270deg, rgba(255,0,255,1) 0%, rgba(0,173,225,1) 100%);
    margin-bottom: 50px;
  }

  .features-title{
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF!important;
    text-align: center;
    text-shadow: 0em 0em 0.7em rgb(0 237 229 / 95%);
  }


  .retention-section{
    min-height: 100vh;
    background: url(../images/bg.jpg)no-repeat;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .retention-title{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .about-section{
    padding-top: 50px;
    padding-bottom: 0;
  }

  .about-title{
    color: #000;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .padding-l{
    padding-left: 50px;
  }


  .contact-section{
    padding: 50px;
    background: linear-gradient(1deg,#8900d3 0%,#000047 35%)!important;
  }

  .contact-title{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .input{
    background: #00ffff00!important;
    border: none!important;
    padding: 6px 10px;
    height: 38px;
    width: 50%;
    border-bottom: 1px solid #fff!important;
  }

  .input-textarea{
    background: #00ffff00!important;
    border: none!important;
    padding: 6px 10px;
    width: 80%;
    border-bottom: 1px solid #fff!important;
    color: #fff;
  }

  .btn-submit{
    color: #FFFFFF!important;
    border-width: 0px!important;
    border-radius: 100px;
    font-size: 16px;
    padding: 7.5px 15px;
    background-image: linear-gradient(1deg,#a400ec 1%,#00ccec 100%);
  }

  @media(max-width: 414px){
    .iocn{
      width: 80%!important;
    }
      .padding-l{
        padding-left: 30px;
        padding-right: 30px;
      }

    .input{
      width: 100%;
    }

    .input-textarea{
      width: 100%;
    }
    .contact-title{
      text-align: center;
    }

    .contact{
      margin: auto!important;
      display: block;
      margin-bottom: 40px!important;
    }

    .contact-section{
      padding: 80px  30px;
    }

    .btn-submit{
      margin-bottom: 30px;
    }
  }